# dependencies/ builds
node_modules
dependencies
dependencies.zip
build
build.zip

# cdk
/infrastructure/cdk.out
/infrastructure/cdk.context.json

# env files
.env.local
.env.development
.env.test.local
.env.production

# yarn, npm
npm-debug.log*
.npm
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# gatsby files
.cache
public

# Mac files
.DS_Store
.vscode