@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay'), url(./fonts/PlayfairDisplay-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'ChivoLight';
  src: local('ChivoLight'), url(./fonts/Chivo-Light.ttf) format('truetype');
}
