@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay'), url(./fonts/PlayfairDisplay-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url(./fonts/WorkSans.ttf) format('truetype');
}
